<div id="background">
			<header class="cf">
				<div class="wrapper_wide">
					<a href="#" id="logo">Spotflix</a>
					<nav>
						<ul>
							<% unless song_signed_in? %>
							<li><a href="#">Explore</a></li>
							<li><%= link_to "Sign In", new_song_session_path%></li>
							<li><%= link_to "Create Album", new_song_registration_path%></li>
							<% else %>
							<li><a href="#">Dashboard</a></li>
							<li><a href="#">Explore</a></li>
							<li><%= link_to "Sign Out", destroy_song_session_path, method: :delete %> </li>
							<% end %>
						</ul>

					</nav>
					</div>
			</header>
			<div class="wrapper_skinny">
				<h1>Discover new music<br>or add your own!</h1>
				<%= link_to "Create Album", new_song_registration_path, class: "button button_highlight"%>
				<a href="#" class="button button_white">Explore</a>
			</div>

		</div>